/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
html,
body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 15px;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
/* ul[class],
ol[class] {
  list-style: none;
} */

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/*-----header------------------*/
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #fff;
  padding: 15px 30px;
}
.header {
  display: flex;
}
/* .header::before{
	content:'';
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 10%;
	background-color:#a7a5a5

} */
.header_item-2,
.header_item-3 {
  margin: 0px 10px 0px 10px;
  background-color: #474747;
  max-height: 80px;
}
.header_item-1 {
  margin: 0px 10px 0px 10px;
  max-height: 80px;
  width: 20%;
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  align-items: end;
  padding: 0px 0px 0px 0px;
  overflow: hidden;
  border: 1px solid #918f8f;
  position: relative;
}
label {
  position: absolute;
  color: #474747;
  top: 5px;
  left: 5px;
}
.header_item-2 {
  padding: 5px 0px 0px 10px;
  width: 30%;
}
.header_item-3 {
  padding: 5px 0px 0px 10px;
  width: 50%;
}
.header_burger {
  position: absolute;
  background-color: #fff;
  height: 20px;
  top: 30px;
  right: 50px;
  display: none;
}
.burger span {
  position: absolute;
  background-color: #070707;
  width: 25px;
  height: 4px;
  left: 0;
  top: 8px;
  border-radius: 2px;
}
.burger:before,
.burger:after {
  content: "";
  background-color: #070707;
  position: absolute;
  width: 25px;
  height: 4px;
  left: 0;
  border-radius: 2px;
}
.burger:before {
  top: 0;
}
.burger:after {
  bottom: 0;
}
/*-----main------------------*/
@media (max-width: 920px) {
  .header {
    flex-direction: column;
  }
  .header_item-1 {
    margin: 0px 0px;
    width: 100%;
  }
  .header_burger {
    display: block;
  }
  .header_item-2,
  .header_item-3 {
    display: none;
  }
  .content {
    flex-direction: column;
    min-height: 100%;
    flex: 1 1 auto;
    .slide-bar {
      padding: 0px 10px;
      margin: 10px 0px;
      width: 100%;
      .section-4 {
			height: 300px;
      }
      .section-7 {
        display: none;
		  
      }
    }
    .main {
      margin-top: 20px;
      width: 100%;
    }
    .section-6_items {
      justify-content: center;
    }
    .item_section6 {
      margin: 5px 5px;
      height: 100px;
      width: 90px;
      border: 1px solid #918f8f;
    }
    .item_section6 img {
      height: 100px;
      width: 80px;
    }

    .section-5-bottom {
      flex-direction: column;
      width: 100%;
      .section-8 {
        width: 100%;
        margin: 0px 0px 10px 0px;
      }
      .section-9 {
        width: 100%;
        text-align: center;
      }
    }
  }
  .footer-content {
    flex-direction: column-reverse;
    .footer-content_item {
		text-align: center;
		list-style: none;
      width: 100%;
      margin: 0px 0px 10px 0px;
    }
    .footer-content_item img {
      height: 100px;
    }
	 .footer-content_item li{
		list-style: none;
	 }
  }
}

.content {
  display: flex;
 
  flex: 1 1 auto;
}
.main {
	display: flex;
  margin-top: 20px;
  width: 70%;
}
.slide-bar {
  width: 30%;
  margin: 0px 15px 0px 0px;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}
.section-4 {
  font-size: 18px;
  margin: 30px 0px 0px 10px;
  padding: 10px 10px;
  height: 50%;
  background-color: #474747;
  overflow-y: scroll;
}
.section4__list li {
  padding: 20px 0px 0px 20px;
  color: #a7a5a5;
}
.section-7 {
  margin: 0px 10px ;
  background-color: #ffffff;
  align-items: end;

  overflow: hidden;
  border: 1px solid #918f8f;
  position: relative;
}
.section-5 {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-5_header {
  background-color: #918f8f;
  color: #ffffff;
  margin: 10px;
  padding: 15px 15px;
}
.section-5_header-text p {
  color: #474747;
}
.section-5_header-text b {
  color: #474747;
  font-weight: 700;
}
.section-5_header-text span {
  color: #474747;
  font-weight: 700;
  margin: 0px 5px 0px 0px;
}
.section-6_items {
  display: flex;
  flex-wrap: wrap;
}
.item_section6:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e01313;
}
.add_cats {
  height: 40px;
  width: 40px;
  border: 1px solid #e01313;
  border-radius: 50%;
  position: relative;
}
.item_section6 span::before {
  content: "";
  background-color: #e01313;
  position: absolute;
  width: 25px;
  height: 4px;
  left: 7px;
  top: 17px;
  rotate: 90deg;
  border-radius: 2px;
}
.item_section6 span::after {
  content: "";
  background-color: #e01313;
  position: absolute;
  width: 25px;
  height: 4px;
  left: 7px;
  top: 17px;
  border-radius: 2px;
}
.item_section6 {
  margin: 10px 10px;
  height: 150px;
  width: 110px;
  border: 1px solid #918f8f;
}

.section-5-bottom {
  padding: 0px 10px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0px 0px 0px;
  height: 30%;
}
.section-8 {
  padding: 10px 10px;
  margin: 0px 10px 0px 10px;
  background-color: #918f8f;
  color: #ffffff;
  width: 50%;
}
.section-9 {
  padding: 10px 10px;
  background-color: #918f8f;
  color: #ffffff;
  width: 50%;
}
.section-9 p {
  color: #474747;
}

/*-----footer------------------*/
.footer {
  margin-top: 20px;
  color: #fafafa;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-height: 60%;
}
.footer-content_item {
  background-color: #474747;
  margin: 0px 10px 0px 10px;
  background-color: #474747;
  width: 33.333%;
}
.item-footer {
  padding: 15px 15px;
}
.item-footer_list__ol {
  column-count: 2;
}
.item-footer_list__ol li {
  list-style: none;
}
.item-footer_list__ul {
  display: flex;
  flex-direction: column;
}
.item-footer_list__ul li {
  margin: 0px 0px 0px 15px;
}
.items-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  background-color: #fafafa;
}
.items-footer-child {
  background-color: #474747;
  margin: 10px 0px 0px 0px;
  height: 50%;
  padding: 10px 10px;
  align-items: center;
}
.items-footer-child:last-child {
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  align-items: end;
  padding: 0px 0px 0px 0px;
  overflow: hidden;
  border: 1px solid #918f8f;
  position: relative;
}
